@model GutoriCorp.Models.BusinessViewModels.VehicleViewModel

<div class="content-heading bg-white">
    <div class="row">
        <div class="col-sm-9">
            <h4 class="m0 text-thin">Vehicle</h4>
            <small>Set up vehicle information</small>
        </div>
        <div class="col-sm-3 text-right hidden-xs">
            <button type="button" class="mt-sm btn btn-labeled btn-default ripple">All Vehicles<span class="btn-label btn-label-right"><i class="ion-plus-round"></i></span></button>
        </div>
    </div>
</div>

<div class="container container-lg">
    <form asp-action="Create" name="formCreateContract" novalidate="" class="form-validate">
        <div class="card">
            <div class="card-heading">
                <!-- START dropdown-->
                <div class="pull-right dropdown">
                    <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                    <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                        <li><a href="#">Option 1</a></li>
                        <li><a href="#">Option 2</a></li>
                        <li><a href="#">Option 3</a></li>
                    </ul>
                </div>
                <!-- END dropdown-->
            </div>
            <div class="card-body pt0">
                <h5 class="mt0">Make Information</h5>
                <fieldset>
                    <div class="form-group">
                        <label asp-for="make_id" class="col-md-2 control-label"></label>
                        <div class="col-md-5 col-sm-8">
                            @Html.DropDownListFor(m => m.make_id, Model.Makes, "- Please select a make -", new { @class = "form-control rounded" })
                            <span asp-validation-for="make_id" class="text-danger"/>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label asp-for="model_id" class="col-md-2 control-label"></label>
                        <div class="col-md-5 col-sm-8">
                            @Html.DropDownListFor(m => m.model_id, Model.Models, "- Please select a model -", new { @class = "form-control rounded" })
                            <span asp-validation-for="model_id" class="text-danger" />
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label asp-for="year" class="col-md-2 control-label"></label>
                        <div class="col-md-5 col-sm-8">
                            @Html.DropDownListFor(m => m.year, Model.Years, "- Please select a year -", new { @class = "form-control rounded" })
                            <span asp-validation-for="year" class="text-danger" />
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label asp-for="tlc_plate" class="col-md-2 control-label"></label>
                        <div class="col-md-5 col-sm-8">
                            
                            <span asp-validation-for="tlc_plate" class="text-danger" />
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="card-footer">
                <button type="submit" class="mb-sm btn btn-primary ripple">Save</button>
                <button type="button" class="mb-sm btn btn-default ripple">Cancel</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $('#make_id').change(function () {
        var selectedMakeId = $(this).val();
        console.log("test " + selectedMakeId);
        if (selectedMakeId != null && selectedMakeId != '') {
            $.getJSON('@Url.Action("Models")', { year: selectedMakeId }, function (models) {
                var modelsSelect = $('#model_id');
                modelsSelect.empty();
                $.each(models, function (index, model) {
                    modelsSelect.append($('<option/>', {
                        value: model.value,
                        text: model.text
                    }));
                });
            });
        }
    });
</script>