@model GutoriCorp.Data.Models.Vehicle

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Vehicle</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="id" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="_new" />
                    <label asp-for="_new"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="body_hull_id" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="body_hull_id" class="form-control" />
                <span asp-validation-for="body_hull_id" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="color_id" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="color_id" class="form-control" />
                <span asp-validation-for="color_id" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="created_by" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="created_by" class="form-control" />
                <span asp-validation-for="created_by" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="created_on" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="created_on" class="form-control" />
                <span asp-validation-for="created_on" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="cyl_prop" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="cyl_prop" class="form-control" />
                <span asp-validation-for="cyl_prop" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="date_issued" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="date_issued" class="form-control" />
                <span asp-validation-for="date_issued" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="document_num" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="document_num" class="form-control" />
                <span asp-validation-for="document_num" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="fuel_id" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="fuel_id" class="form-control" />
                <span asp-validation-for="fuel_id" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="make_id" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="make_id" class="form-control" />
                <span asp-validation-for="make_id" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="model_id" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="model_id" class="form-control" />
                <span asp-validation-for="model_id" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="modified_by" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="modified_by" class="form-control" />
                <span asp-validation-for="modified_by" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="modified_on" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="modified_on" class="form-control" />
                <span asp-validation-for="modified_on" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="reading_miles" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="reading_miles" class="form-control" />
                <span asp-validation-for="reading_miles" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="seats" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="seats" class="form-control" />
                <span asp-validation-for="seats" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="tlc_plate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="tlc_plate" class="form-control" />
                <span asp-validation-for="tlc_plate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="type_title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="type_title" class="form-control" />
                <span asp-validation-for="type_title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="vin_code" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="vin_code" class="form-control" />
                <span asp-validation-for="vin_code" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="wt_sts_lgth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="wt_sts_lgth" class="form-control" />
                <span asp-validation-for="wt_sts_lgth" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="year" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="year" class="form-control" />
                <span asp-validation-for="year" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
